.heading-largest {
  font-size: 40px !important;
  font-weight: 600 !important;
  line-height: 62px !important;
  color: var(--color-purple-heading);
}

.heading-large {
  font-size: 32px !important;
  font-weight: 600 !important;
  line-height: 40px !important;
}

.heading-medium {
  font-size: 32px !important;
  font-weight: 400 !important;
  line-height: 40px !important;
}

.heading-small {
  font-size: 24px !important;
  font-weight: 600 !important;
  line-height: 30px !important;
}

.heading-smaller {
  font-size: 20px !important;
  font-weight: 600 !important;
  line-height: 25px !important;
}

.heading-smallest {
  font-size: 16px !important;
  font-weight: 600 !important;
  line-height: 20px !important;
}

.body-large {
  font-size: 20px !important;
  font-weight: 500 !important;
  line-height: 24.6px !important;
}

.body-medium {
  font-size: 16px !important;
  font-weight: 500 !important;
  line-height: 30px !important;
}

.body-regular {
  font-size: 16px !important;
  font-weight: 400 !important;
  line-height: 30px !important;
}

.label-regular {
  font-size: 12px !important;
  font-weight: 500 !important;
  line-height: 14px !important;
}

body {
  font-family: Barlow, sans-serif !important;
}

input {
  border-radius: 5px !important;
}

label {
  font-weight: 500 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Barlow', sans-serif;
}
