{% extends 'base.html' %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/rules/edit.css') }}"
/>
<!-- EDITING MODAL -->
<!-- <div
  id="parent-edit-modal"
  class="parent-edit-modal"
>
  <div id="edit-modal">
    <p
      class="close-icon js-close-edit-modal"
      class="fa"
    >
      <img src="{{ url_for('static', filename='assets/icons/close.svg') }}" />
    </p>
    <h2 class="heading-medium header-heading">Editing</h2>
    <div
      class="row header-row"
      id="editing-type"
    >
      <div class="col-sm-6 header-field-box">
        <label
          class="header-label"
          for="header-name"
          >Type</label
        >
        <select
          id="header-field"
          class="form-control js-gw-item select-item"
        >
          <option value="">Group</option>
        </select>
      </div>
      <div class="col-sm-6 header-field-box">
        <label
          class="header-label"
          for="header-name"
          >Name</label
        >
        <input
          type="text"
          id="header-field"
          class="form-control js-card-status-count-min"
          value="Card Settings"
        />
      </div>
    </div>
    <div class="subfields">
      <h6 class="body-large custom-heading">Subfields</h6>
      <button
        id="subfield-btn"
        type="button"
        class="btn btn-advanced"
        >Add Field</button
      >
    </div>
    <div class="subfield-row">
      <div>
        <label class="header-label">Type</label>
        <select
          id="header-field"
          class="form-control js-gw-item select-item"
        >
          <option value="">Subgroup</option>
        </select>
      </div>
      <div>
        <label class="header-label">Name</label>
        <div class="header-input-row">
          <input
            type="text"
            id="header-field"
            class="form-control form-control-sm"
            value="Daily Limit"
          />
          <div class="js-header-delete">
            <img
              src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="subfield-row">
      <div>
        <label class="header-label">Type</label>
        <select
          id="header-field"
          class="form-control js-gw-item select-item"
        >
          <option value="">Subgroup</option>
        </select>
      </div>
      <div>
        <label class="header-label">Name</label>
        <div class="header-input-row">
          <input
            type="text"
            id="header-field"
            class="form-control form-control-sm"
            value="Monthly Limit"
          />
          <div class="js-header-delete">
            <img
              src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="subfield-row">
      <div>
        <label class="header-label">Type</label>
        <select
          id="header-field"
          class="form-control js-gw-item select-item"
        >
          <option value="">Subgroup</option>
        </select>
      </div>
      <div>
        <label class="header-label">Name</label>
        <div class="header-input-row">
          <input
            type="text"
            id="header-field"
            class="form-control form-control-sm"
            value="Value Limit"
          />
          <div class="js-header-delete">
            <img
              src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="edit-action-btns">
      <button class="btn btn-red">Delete</button>
      <button class="btn btn-primary">Apply Changes</button>
    </div>
  </div>
</div> -->

<!-- HEADER MODAL -->
<div
  id="parent-header-modal"
  class="parent-header-modal"
>
  <div id="header-modal">
    <p
      class="close-icon js-close-modal"
      class="fa"
    >
      <img src="{{ url_for('static', filename='assets/icons/close.svg') }}" />
    </p>
    <h2 class="heading-medium header-heading">Add Header Field</h2>
    <div class="row header-row">
      <div class="col-sm-6 header-field-box">
        <label
          class="header-label"
          for="header-name"
          >Type</label
        >
        <select
          id="header-field"
          class="form-control header-select"
        >
          <option value="">Select type</option>
          <option value="acq_alias">Acquirer Alias</option>
          <option value="acq_id">Acquirer ID</option>
          <option value="mid">Merchant ID</option>
          <option value="gateway_currency">Gateway Currency</option>
          <option value="currency">Currency</option>
          <option value="card_brand">Card Brand</option>
        </select>
      </div>
      <div class="col-sm-6 header-field-box">
        <label
          class="header-label"
          for="header-name"
          >Name</label
        >
        <input
          type="text"
          id="header-name"
          class="form-control js-card-status-count-min"
          value=""
        />
      </div>
    </div>
    <button class="btn btn-primary btn-dialog js-add-header">Add Field</button>
  </div>
</div>

<!-- EDIT PAGE -->
<div class="row">
  <div class="box">
    <div class="box-body">
      <div class="mb-3">
        <div class="m-3">
          <form class="form-body">
            <input
              type="hidden"
              value="{{ rule['Hash'] }}"
              id="hash"
            />
            <div class="form-group row-top">
              <div class="box-header">
                <input
                  name="comment"
                  class="custom-edit-name"
                  id="comment"
                  placeholder=""
                  value="{{ rule.Comment }}"
                />
              </div>
              <div class="row-top-buttons">
                <a
                  href="/list"
                  class="btn custom-discard"
                  >Discard</a
                >
                <button class="btn custom-save js-item-save pull-right">
                  Save Changes
                </button>
              </div>
            </div>
            <div class="content-left-right">
              <div class="left">
                <h2 class="heading-medium"
                  >Body
                  <!-- <button
                      id="add-field-btn"
                      type="button"
                      class="btn btn-primary"
                      >Add Field</button
                    > -->
                </h2>
                <div class="card-settings">
                  <h3
                    class="heading-small"
                    style="margin: 40px 0px 0px"
                    >Card Settings
                    <img
                      id="cog"
                      src="{{ url_for('static', filename='assets/icons/cog.svg') }}"
                    />
                  </h3>
                  <div class="card-subgroups"> </div>
                </div>
                <div class="bin">
                  <h3
                    class="heading-small"
                    style="margin: 40px 0px 0px"
                    >Bin
                    <button
                      id="add-field-btn"
                      type="button"
                      class="btn btn-primary js-open-modal-router"
                      >Add Field</button
                    >
                  </h3>
                  <div class="bin-subgroups"> </div>
                </div>
              </div>
              <div class="right">
                <div class="header">
                  <h2 class="heading-medium"
                    >Header
                    <button
                      id="add-field-btn"
                      type="button"
                      class="btn btn-primary js-open-modal"
                      >Add Field</button
                    >
                  </h2>
                  <div class="header-group"></div>
                </div>
                <div class="router">
                  <h2 class="heading-medium">Router </h2>
                  <div class="router-group"></div>
                </div>
              </div>
            </div>
            <div class="form-group custom-form-group">
              <a
                href="/list"
                class="btn custom-discard"
                >Discard</a
              >
              <button
                class="btn btn-primary custom-button js-item-save pull-right"
              >
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  let rule = '{{ json|tojson }}'
  let const_list = '{{ const_list|tojson }}'
  let mid_list = '{{ mid_list|tojson }}'
  let routing = '{{ routing|tojson }}'
  let available_routing = '{{ available_routing|tojson }}'
  let gateways_list = '{{ gateways_list|tojson }}'
  rule = JSON.parse(rule)
  const_list = JSON.parse(const_list)
  mid_list = JSON.parse(mid_list)
  routing = JSON.parse(routing)
  available_routing = JSON.parse(available_routing)
  gateways_list = JSON.parse(gateways_list)
</script>
{% endblock %}
