{% extends 'base.html' %} {% block content %}

<link
  rel="stylesheet"
  href="{{ url_for('static', filename='styles/rules/edit.css') }}"
/>
<!-- EDITING MODAL -->
<div
  id="parent-edit-modal"
  class="parent-edit-modal"
>
  <div id="edit-modal">
    <p
      class="close-icon js-close-edit-modal"
      class="fa"
    >
      <img src="{{ url_for('static', filename='assets/icons/close.svg') }}" />
    </p>
    <h2 class="heading-medium header-heading">Editing</h2>
    <div class="row header-row" id="editing-type">
      <div class="col-sm-6 header-field-box">
        <label class="header-label" for="header-name">Type</label>
        <select id="header-field" class="form-control js-gw-item select-item">
          <option value="">Group</option>
        </select>
      </div>
      <div class="col-sm-6 header-field-box">
        <label
          class="header-label"
          for="header-name"
          >Name</label
        >
        <input
          type="text"
          id="header-field"
          class="form-control js-card-status-count-min"
          value="Card Settings"
        />
      </div>
    </div>
    <div class="subfields">
      <h6 class="body-large custom-heading">Subfields</h6>
      <button id="subfield-btn" type="button" class="btn btn-advanced">Add Field</button>
    </div>
    <div class="subfield-row">
      <div>
        <label class="header-label">Type</label>
        <select id="header-field" class="form-control js-gw-item select-item">
          <option value="">Subgroup</option>
        </select>
      </div>
      <div>
        <label class="header-label">Name</label>
        <div class="header-input-row">
          <input type="text" id="header-field" class="form-control form-control-sm" value="Daily Limit"/>
          <div class="js-header-delete">
            <img
              src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="subfield-row">
      <div>
        <label class="header-label">Type</label>
        <select id="header-field" class="form-control js-gw-item select-item">
          <option value="">Subgroup</option>
        </select>
      </div>
      <div>
        <label class="header-label">Name</label>
        <div class="header-input-row">
          <input type="text" id="header-field" class="form-control form-control-sm" value="Monthly Limit"/>
          <div class="js-header-delete">
            <img
              src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="subfield-row">
      <div>
        <label class="header-label">Type</label>
        <select id="header-field" class="form-control js-gw-item select-item">
          <option value="">Subgroup</option>
        </select>
      </div>
      <div>
        <label class="header-label">Name</label>
        <div class="header-input-row">
          <input type="text" id="header-field" class="form-control form-control-sm" value="Value Limit"/>
          <div class="js-header-delete">
            <img
              src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="edit-action-btns">
      <button class="btn btn-red">Delete</button>
      <button class="btn btn-primary">Apply Changes</button>
    </div>
  </div>
</div>

<!-- HEADER MODAL -->
<div
  id="parent-header-modal"
  class="parent-header-modal"
>
  <div id="header-modal">
    <p
      class="close-icon js-close-modal"
      class="fa"
    >
      <img src="{{ url_for('static', filename='assets/icons/close.svg') }}" />
    </p>
    <h2 class="heading-medium header-heading">Add Header Field</h2>
    <div class="row header-row">
      <div class="col-sm-6 header-field-box">
        <label
          class="header-label"
          for="header-name"
          >Type</label
        >
        <select
          id="header-field"
          class="form-control"
        >
          <option value="">Select type</option>
          <option value="acq_alias">Acquirer Alias</option>
          <option value="acq_id">Acquirer ID</option>
          <option value="mid">Merchant ID</option>
          <option value="gateway_currency">Gateway Currency</option>
          <option value="currency">Currency</option>
          <option value="card_brand">Card Brand</option>
        </select>
      </div>
      <div class="col-sm-6 header-field-box">
        <label
          class="header-label"
          for="header-name"
          >Name</label
        >
        <input
          type="text"
          id="header-name"
          class="form-control js-card-status-count-min"
          value=""
        />
      </div>
    </div>
    <button class="btn btn-primary btn-dialog js-add-header">Add Field</button>
  </div>
</div>

<div class="row">
  <div class="box">
    <div class="box-body">
      <div class="mb-3">
        <div class="m-3">
          <form class="form-body">
            <input
              type="hidden"
              value="{{ rule['Hash'] }}"
              id="hash"
            />
            <div class="form-group row-top">
              <div class="box-header">
                <input
                  name="comment"
                  class="custom-edit-name"
                  id="comment"
                  placeholder=""
                  value="{{ rule.Comment }}"
                />
              </div>
              <div class="row-top-buttons">
                <a
                  href="/list"
                  class="btn custom-discard"
                  >Discard</a
                >
                <button class="btn custom-save js-item-save pull-right">
                  Save Changes
                </button>
              </div>
              <!-- <a
                  href="/rules/advanced/{{ rule.Hash }}"
                  class="btn btn-warning"
                  >Advanced</a
                > -->
            </div>
            <div class="content-left-right">
              <div class="left">
                <h2 class="heading-medium"
                  >Body
                  <button
                    id="add-field-btn"
                    type="button"
                    class="btn btn-primary"
                    >Add Field</button
                  >
                </h2>
                <h3 class="heading-small"
                  >Card Settings
                  <img
                    id="cog"
                    class="js-open-edit-modal"
                    src="{{ url_for('static', filename='assets/icons/cog.svg') }}"
                  />
                </h3>

                <div class="form-group">
                  {% if card['status'][0] is not none and card['status'][1] is
                  not none %}
                  <h6 class="body-large custom-heading">
                    Card status count approved
                  </h6>
                  <div class="row">
                    <div>
                      <label for="card-approved-min">Min</label>
                      <input
                        type="text"
                        id="card-approved-min"
                        class="form-control js-card-status-count-min"
                        value="{{ card['status'][0] }}"
                      />
                    </div>
                    <div>
                      <label for="card-approved-max">Max</label>
                      <input
                        type="text"
                        id="card-approved-max"
                        class="form-control js-card-status-count-max"
                        value="{{ card['status'][1] }}"
                      />
                    </div>
                  </div>
                  {% endif %} {% if card['count'][0] is not none and
                  card['count'][1] is not none %}
                  <div class="btn-with-heading">
                    <h6 class="body-large custom-heading">Card Count Limit</h6>
                    <img
                      id="pen"
                      src="{{ url_for('static', filename='assets/icons/pen.svg') }}"
                    />
                  </div>
                  <div class="row">
                    <div>
                      <label for="card-count-min">Min</label>
                      <input
                        type="text"
                        id="card-count-min"
                        class="form-control"
                        value="{{ card['count'][0] }}"
                      />
                    </div>
                    <div>
                      <label for="card-count-max">Max</label>
                      <input
                        type="text"
                        id="card-count-max"
                        class="form-control"
                        value="{{ card['count'][1] }}"
                      />
                    </div>
                  </div>
                  {% endif %} {% if card['is_sum'] is not none %}
                  <div class="btn-with-heading">
                    <h6 class="body-large custom-heading">Card Amount Limit</h6>
                    <img
                      id="pen"
                      src="{{ url_for('static', filename='assets/icons/pen.svg') }}"
                    />
                  </div>
                  {% endif %} {% if card['daily'][0] is not none and
                  card['daily'][1] is not none %}
                  <h6 class="heading-smallest">Daily Limit</h6>
                  <div class="row">
                    <div>
                      <label for="card-amount-daily-min">Min</label>

                      <input
                        type="text"
                        id="card-amount-daily-min"
                        class="form-control"
                        value="{{ card['daily'][0] }}"
                      />
                    </div>
                    <div>
                      <label for="card-amount-daily-max">Max</label>

                      <input
                        type="text"
                        id="card-amount-daily-max"
                        class="form-control"
                        value="{{ card['daily'][1] }}"
                      />
                    </div>
                  </div>
                  {% endif %} {% if card['weekly'][0] is not none and
                  card['weekly'][1] is not none %}
                  <h6 class="heading-smallest">Weekly Limit</h6>

                  <div class="row">
                    <div>
                      <label for="card-amount-weekly-min">Min</label>

                      <input
                        type="text"
                        id="card-amount-weekly-min"
                        class="form-control"
                        value="{{ card['weekly'][0] }}"
                      />
                    </div>
                    <div>
                      <label for="card-amount-weekly-max">Max</label>

                      <input
                        type="text"
                        id="card-amount-weekly-max"
                        class="form-control"
                        value="{{ card['weekly'][1] }}"
                      />
                    </div>
                  </div>
                  {% endif %} {% if card['monthly'][0] is not none and
                  card['monthly'][1] is not none %}
                  <h6 class="heading-smallest">Monthly Limit</h6>

                  <div class="row">
                    <div>
                      <label for="card-amount-monthly-min">Min</label>

                      <input
                        type="text"
                        id="card-amount-monthly-min"
                        class="form-control"
                        value="{{ card['monthly'][0] }}"
                      />
                    </div>
                    <div>
                      <label for="card-amount-monthly-max">Max</label>

                      <input
                        type="text"
                        id="card-amount-monthly-max"
                        class="form-control"
                        value="{{ card['monthly'][1] }}"
                      />
                    </div>
                  </div>
                  {% endif %} {% if card['yearly'][0] is not none and
                  card['yearly'][1] is not none %}
                  <h6 class="heading-smallest">Yearly Limit</h6>

                  <div class="row">
                    <div>
                      <label for="card-amount-yearly-min">Min</label>
                      <input
                        type="text"
                        id="card-amount-yearly-min"
                        class="form-control"
                        value="{{ card['yearly'][0] }}"
                      />
                    </div>
                    <div>
                      <label for="card-amount-yearly-max">Min</label>
                      <input
                        type="text"
                        id="card-amount-yearly-max"
                        class="form-control"
                        value="{{ card['yearly'][1] }}"
                      />
                    </div>
                  </div>
                  {% endif %} {% if card['amount'][0] is not none and
                  card['amount'][1] is not none %}
                  <h6 class="heading-smallest">Value limits</h6>
                  <div class="row">
                    <div>
                      <label for="card-amount-min">Min</label>
                      <input
                        type="text"
                        id="card-amount-min"
                        class="form-control"
                        value="{{ card['amount'][0] }}"
                      />
                    </div>
                    <div>
                      <label for="card-amount-max">Max</label>
                      <input
                        type="text"
                        id="card-amount-max"
                        class="form-control"
                        value="{{ card['amount'][1] }}"
                      />
                    </div>
                  </div>
                  {% endif %}
                </div>

                {% if rule.Body.amount %}
                <div class="form-group">
                  <h5>Transaction settings</h5>

                  <h6>Amount values</h6>
                  <div class="row">
                    <div>
                      <label for="trx-amount-min">Min</label>
                      <input
                        type="text"
                        id="trx-amount-min"
                        class="form-control"
                        value="{{ rule.Body.amount.value[0] }}"
                      />
                    </div>
                    <div>
                      <label for="trx-amount-max">Max</label>
                      <input
                        type="text"
                        id="trx-amount-max"
                        class="form-control"
                        value="{{ rule.Body.amount.value[1] }}"
                      />
                    </div>
                  </div>
                </div>
                {% endif %} {% if rule.Body.bin %}
                <h3
                  class="heading-small"
                  style="margin: 40px 0px 0px"
                  >Bin
                  <img
                    id="cog"
                    src="{{ url_for('static', filename='assets/icons/cog.svg') }}"
                  />
                </h3>
                {% if rule.Body.bin.not_in_country %}
                <div class="row">
                  <div>
                    <div class="btn-with-heading">
                      <h6 class="body-large custom-heading">
                        Not In Country
                      </h6>
                      <img
                        id="pen"
                        src="{{ url_for('static', filename='assets/icons/pen.svg') }}"
                      />
                    </div>
                    <textarea
                      id="bin-not-in-country"
                      class="form-control custom-textarea"
                    >
  {{ '\n'.join(rule.Body.bin.not_in_country) }}</textarea
                    >
                  </div>
                </div>
                {% endif %} {% if rule.Body.bin.in_country %}
                <div class="row">
                  <div>
                    <label for="bin-in-country">In country</label>
                    <textarea
                      id="bin-in-country"
                      class="form-control custom-textarea"
                    >
  {{ '\n'.join(rule.Body.bin.in_country) }}</textarea
                    >
                  </div>
                </div>
                {% endif %} {% endif %} {% if rule.Body.ip %}
                <h6>Ip</h6>
                {% if rule.Body.ip.not_in_ip_country %}
                <div class="row">
                  <div>
                    <label for="ip-not-in-country">Ip not in country</label>
                    <textarea
                      id="ip-not-in-country"
                      class="form-control custom-textarea"
                    >
  {{ '\n'.join(rule.Body.ip.not_in_ip_country) }}</textarea
                    >
                  </div>
                </div>
                {% endif %} {% if rule.Body.ip.in_ip_country %}
                <div class="row">
                  <div>
                    <label for="ip-in-country">Ip in country</label>
                    <textarea
                      id="ip-in-country"
                      class="form-control custom-textarea"
                    >
  {{ '\n'.join(rule.Body.ip.in_ip_country) }}</textarea
                    >
                  </div>
                </div>
                {% endif %} {% endif %}
              </div>
              <div class="right">
                <h3 class="box-title heading-medium"
                  >Header
                  <button
                    id="add-field-btn"
                    type="button"
                    class="btn btn-primary js-open-modal"
                    >Add Field</button
                  >
                </h3>
                {% if rule.Header.mid %}
                <div class="row form-group">
                  <div>
                    <label for="mid">Merchant&nbsp;ID</label>
                    <div class="header-input-row">
                      <input
                        name="mid"
                        list="mid_list"
                        class="form-control form-control-sm"
                        id="mid"
                        placeholder=""
                        value="{{ mid_list[rule.Header.mid] }}"
                      />
                      <div class="js-header-delete">
                        <img
                          src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
                        />
                      </div>
                    </div>
                    <datalist id="mid_list">
                      {% for item in const_list['mid'] %}
                      <option value="{{ item }}">{{ item }}</option>
                      {% endfor %}
                    </datalist>
                  </div>
                </div>
                {% endif %} {% if rule.Header.acq_alias %}
                <div class="row form-group">
                  <div>
                    <label for="acq-alias">Acquirer alias</label>
                    <div class="header-input-row">
                      <input
                        name="acq_alias"
                        class="form-control form-control-sm"
                        id="acq-alias"
                        placeholder=""
                        value="{{ rule.Header.acq_alias }}"
                      />
                      <div class="js-header-delete">
                        <img
                          src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %} {% if rule.Header.acq_id %}
                <div class="row form-group">
                  <div>
                    <label for="acq-alias">Acquirer ID</label>
                    <div class="header-input-row">
                      <input
                        name="acq_alias"
                        class="form-control form-control-sm"
                        id="acq-id"
                        placeholder=""
                        value="{{ rule.Header.acq_id }}"
                      />
                      <div class="js-header-delete">
                        <img
                          src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
                        />
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %} {% if rule.Header.gateway_currency %}
                <div class="row form-group">
                  <div>
                    <label for="gateway-currency">Currency</label>
                    <div class="header-input-row">
                      <input
                        name="gateway_currency"
                        list="gw_currencies"
                        class="form-control form-control-sm"
                        id="gateway-currency"
                        placeholder=""
                        value="{{ rule.Header.gateway_currency }}"
                      />
                      <div class="js-header-delete">
                        <img
                          src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
                        />
                      </div>
                    </div>
                    <datalist id="gw_currencies">
                      {% for item in const_list['currency'] %}
                      <option value="{{ item }}">{{ item }}</option>
                      {% endfor %}
                    </datalist>
                  </div>
                </div>
                {% endif %} {% if rule.Header.currency %}
                <div class="row form-group">
                  <div>
                    <label for="gateway-currency">Currency</label>
                    <div class="header-input-row">
                      <input
                        name="gateway_currency"
                        list="currencies"
                        class="form-control form-control-sm"
                        id="currency"
                        placeholder=""
                        value="{{ rule.Header.currency }}"
                      />
                      <div class="js-header-delete">
                        <img
                          src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
                        />
                      </div>
                    </div>
                    <datalist id="currencies">
                      {% for item in const_list['currency'] %}
                      <option value="{{ item }}">{{ item }}</option>
                      {% endfor %}
                    </datalist>
                  </div>
                </div>
                {% endif %} {% if rule.Header.card_brand %}
                <div class="row form-group">
                  <div>
                    <label for="card-brand">Card Brand</label>
                    <div class="header-input-row">
                      <input
                        name="card_brand"
                        list="card_brands"
                        class="form-control form-control-sm"
                        id="card-brand"
                        placeholder=""
                        value="{{ rule.Header.card_brand }}"
                      />
                      <div class="js-header-delete">
                        <img
                          src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
                        />
                      </div>
                    </div>
                    <datalist id="card_brands">
                      <option>MasterCard</option>
                      <option>VISA</option>
                    </datalist>
                  </div>
                </div>
                {% endif %}

                <h3 class="box-title heading-medium"
                  >Router
                  <button
                    id="add-field-btn"
                    type="button"
                    class="btn btn-primary"
                    >Add Field</button
                  >
                </h3>
                {% for route_item in available_routing %}
                <div class="row js-route-row row-item">
                  <div>
                    <input
                      type="text"
                      value="{{ route_item }}"
                      class="form-control js-route-item"
                      readonly
                    />
                  </div>
                  <div>
                    <select class="form-control js-gw-item">
                      <option value="">Select Gateway Alias</option>
                      {% for gw_item in gateways %} {% if routing[route_item] ==
                      gw_item['Value'] %}
                      <option
                        value="{{ gw_item['Value'] }}"
                        selected
                      >
                        {{ gw_item['Value'] }}
                      </option>
                      {% else %}
                      <option value="{{ gw_item['Value'] }}">
                        {{ gw_item['Value'] }}
                      </option>
                      {% endif %} {% endfor %}
                    </select>
                  </div>
                  <div class="js-item-delete">
                    <img
                      src="{{ url_for('static', filename='assets/icons/delete_purple.svg') }}"
                    />
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
            <div class="form-group custom-form-group">
              <a
                href="/list"
                class="btn custom-discard"
                >Discard</a
              >
              <button
                class="btn btn-primary custom-button js-item-save pull-right"
              >
                Save Changes
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
