@import '../styles/components/table.css';
@import './pages/layout/top-nav.css';
@import './pages/layout/side-nav.css';

.content-wrapper {
  margin-left: 300px !important;
  padding: 30px !important;
  background-image: var(--linear-gradient-background);
}

.content {
  border-radius: 5px;
}
.box {
  border-top: none;
  padding: 20px;
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper {
    margin-left: 72px !important;
  }
}

.custom-button {
  height: 50px;
  display: flex;
  align-items: center;
  transform: translateY(10px);
}

.custom-heading {
  color: var(--color-purple-heading);
}

.box-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

#parent-constants-modal {
  display: none;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(14, 9, 33, 0.15);
  backdrop-filter: blur(2px);
}

#constants-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  height: 465px;
  width: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 30px rgba(76, 69, 99, 0.08);
  border-radius: 5px;
  font-size: 32px;
  color: var(--color-purple-heading);
  font-weight: 400;
}

#parent-constants-modal-new {
  display: none;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(14, 9, 33, 0.15);
  backdrop-filter: blur(2px);
}

#add-new-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #fefefe;
  height: 465px;
  width: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 30px rgba(76, 69, 99, 0.08);
  border-radius: 5px;
  font-size: 32px;
  color: var(--color-purple-heading);
  font-weight: 400;
}

.can_wrapper {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  border: 3px solid #bbbbbb;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.close_icon {
  position: absolute;
  top: 4%;
  right: 4%;
  cursor: pointer;
}

.custom-form-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}

.custom-button {
  width: 100%;
  max-width: none;
}

#parent-delete-modal{
  display: none;
  position: fixed;
  z-index: 1100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(14, 9, 33, 0.15);
  backdrop-filter: blur(2px);
}

#delete-modal {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #FEFEFE;
  height: 400px;
  width: 650px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 4px 30px rgba(76, 69, 99, 0.08);
  border-radius: 5px;
  font-size: 32px;
  color: var(--color-purple-heading);
  font-weight: 400;
}

.can_wrapper {
  height: 96px;
  width: 96px;
  border-radius: 50%;
  border: 3px solid #BBBBBB;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

#delete-modal__value {
  font-weight: 500;
  margin-bottom: 60px;
  padding-left: 10px;
}

#delete-modal__buttons {
  font-size: 16px !important;
}

.delete-box-value {
  display: flex;
  flex-direction: row;
}

.delete-modal__buttons .btn-danger {
  height: 50px !important;
  width: 120px !important;
  border-radius: 5px !important;
  background: linear-gradient(90deg, #FD4E35 0%, #F95C51 100%) !important;
  color: var(--color-white-content) !important;
  font-size: 16px !important;
}

.delete-modal__buttons .btn-custom {
  height: 50px !important;
  width: 120px !important;
  border-radius: 5px !important;
  background: linear-gradient(90deg, #E6E6E6 0%, #EEEEEE 100%) !important;
  color: var(--color-grey-dark) !important;
  font-size: 16px !important;
}