@import '../styles/components/table.css';
@import './pages/layout/top-nav.css';
@import './pages/layout/side-nav.css';

.content-wrapper {
  margin-left: 300px !important;
  padding: 20px !important;
  background-image: var(--linear-gradient-background);
}

@media (min-width: 768px) {
  .sidebar-mini.sidebar-collapse .content-wrapper {
    margin-left: 72px !important;
  }
}

.box {
  border-top: none;
  padding: 20px;
}

.custom-row .custom-col {
  display: flex;
  height: 50px;
  width: 100%;
}

.custom-select {
  height: 50px;
  border-radius: 5px;
  /* width: 100% !important; */
}

.custom-button {
  height: 50px;
}
