 @import '../../globals/variables.css';
 @import "../../misc/menu.css";

.main-sidebar {
  background-color: var(--color-purple-dark) !important;
  width: 300px !important;
  padding-top: 60px !important;
}

.sidebar-mini.sidebar-collapse .main-sidebar {
  width: 72px !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}
