<section class="sidebar">
  <!-- search form -->
  <!-- /.search form -->
  <!-- sidebar menu: : style can be found in sidebar.less -->
  <ul class="sidebar-menu" data-widget="tree">
    <li class="treeview">
      <form action="{{ url_for('search') }}" method="post" class="sidebar-form">
        <div class="input-group">
          <input
            type="text"
            name="text"
            class="form-control custom-form-control"
            placeholder="Search"
          />
          <span class="input-group-btn">
            <button
              type="submit"
              name="search"
              id="search-btn"
              class="btn btn-flat"
            >
              <img
                src="{{ url_for('static', filename='assets/icons/search.svg') }}"
              />
            </button>
          </span>
        </div>
      </form>
    </li>
    <li class="treeview">
      <a href="#">
        <div class="icon-wrapper" data-toggle="push-menu">
          <img
            src="{{ url_for('static', filename='assets/icons/rules.svg') }}"
          />
        </div>
        <span>Rules</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <a href="/list"
            ><img
              src="{{ url_for('static', filename='assets/icons/circle.svg') }}"
            />
            Rules</a
          >
        </li>
        <li>
          <a href="/templates"
            ><img
              src="{{ url_for('static', filename='assets/icons/circle.svg') }}"
            />
            Templates</a
          >
        </li>
        <li>
          <a href="/history"
            ><img
              src="{{ url_for('static', filename='assets/icons/circle.svg') }}"
            />
            History</a
          >
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <div class="icon-wrapper" data-toggle="push-menu">
          <img
            src="{{ url_for('static', filename='assets/icons/upload.svg') }}"
          />
        </div>
        <span>Upload lists</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <a href="/lists"
            ><img
              src="{{ url_for('static', filename='assets/icons/circle.svg') }}"
            />
            Block lists</a
          >
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <div class="icon-wrapper" data-toggle="push-menu">
          <img
            src="{{ url_for('static', filename='assets/icons/book.svg') }}"
          />
        </div>
        <span>Dictionaries</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <a href="/constants/mid"
            ><img
              src="{{ url_for('static', filename='assets/icons/circle.svg') }}"
            />
            Merchant ID</a
          >
        </li>
        <li>
          <a href="/constants/currency"
            ><img
              src="{{ url_for('static', filename='assets/icons/circle.svg') }}"
            />
            Currency</a
          >
        </li>
        <li>
          <a href="/constants/gw_alias"
            ><img
              src="{{ url_for('static', filename='assets/icons/circle.svg') }}"
            />
            Gateway Alias</a
          >
        </li>
        <li>
          <a href="/constants/gw_type"
            ><img
              src="{{ url_for('static', filename='assets/icons/circle.svg') }}"
            />
            Gateway Type</a
          >
        </li>
      </ul>
    </li>
    <li class="treeview">
      <a href="#">
        <div class="icon-wrapper" data-toggle="push-menu">
          <img
            src="{{ url_for('static', filename='assets/icons/advanced.svg') }}"
          />
        </div>
        <span>Advanced</span>
        <span class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
      </a>
      <ul class="treeview-menu">
        <li>
          <a href="/rules/advanced"
            ><img
              src="{{ url_for('static', filename='assets/icons/circle.svg') }}"
            />
            Add rule</a
          >
        </li>
        <li>
          <a href="/definitions"
            ><img
              src="{{ url_for('static', filename='assets/icons/circle.svg') }}"
            />
            Definitions</a
          >
        </li>
      </ul>
    </li>
    <li>
      <a href="/dashboard">
        <div class="icon-wrapper" data-toggle="push-menu">
          <img
            src="{{ url_for('static', filename='assets/icons/advanced.svg') }}"
          />
        </div>
        <span>Dashobard</span>
        <span class="pull-right-container">
        </span>
      </a>
    </li>
  </ul>
</section>
