@import '../components/table.css';
@import '../pages/layout/top-nav.css';
@import '../pages/layout/side-nav.css';


/* BIN-MODAL */
.bin-field-box {
    padding: 0;
    width: 300px;
    margin: 0 auto;
}
  
#bin-field {
    width: 300px !important;
    border-radius: 5px;
}

.bin-label {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
  }

#parent-bin-modal{
    display: none;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(14, 9, 33, 0.15);
    backdrop-filter: blur(2px);
}
  
#bin-modal {
    display: none;
    flex-direction: column;
    background-color: #FEFEFE;
    height: 358px;
    width: 600px;
    max-width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 30px rgba(76, 69, 99, 0.08);
    border-radius: 5px;
    font-size: 32px;
    color: var(--color-purple-heading);
    font-weight: 400;
    padding: 40px;
}

/* HEADER ADD FIELD MODAL */

.header-label {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    margin: 0;
  }
  
.header-row {
    padding-top: 25px;
    margin: 0;
    padding-bottom: 60px;
    gap: 0px !important;
}
  
.header-field-box {
    padding: 0;
    width: 300px;
    margin-right: 15px;
}
  
#header-field {
    width: 300px !important;
    border-radius: 5px;
}
  
.header-heading {
    font-weight: 600 !important;
    font-style: normal;
    padding: 0;
    margin: 0;
}

/* HEADER MODAL */

#parent-header-modal{
    display: none;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(14, 9, 33, 0.15);
    backdrop-filter: blur(2px);
}
  
#header-modal {
    display: none;
    flex-direction: column;
    background-color: #FEFEFE;
    height: 358px;
    width: 741px;
    max-width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 30px rgba(76, 69, 99, 0.08);
    border-radius: 5px;
    font-size: 32px;
    color: var(--color-purple-heading);
    font-weight: 400;
    padding: 40px;
}

/* ROUTER MODAL */

#parent-router-modal {
    display: none;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(14, 9, 33, 0.15);
    backdrop-filter: blur(2px);
}

#router-modal {
    display: none;
    flex-direction: column;
    background-color: #FEFEFE;
    height: 250px;
    width: 741px;
    max-width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 30px rgba(76, 69, 99, 0.08);
    border-radius: 5px;
    font-size: 32px;
    color: var(--color-purple-heading);
    font-weight: 400;
    padding: 40px;
}

#router-modal .header-row {
    justify-content: center !important;
}

/* EDITING MODAL */

#parent-edit-modal{
    display: none;
    position: fixed;
    z-index: 1100;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(14, 9, 33, 0.15);
    backdrop-filter: blur(2px);
}
  
#edit-modal {
    display: none;
    flex-direction: column;
    background-color: #FEFEFE;
    height: 687px;
    width: 741px;
    max-width: 90%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 4px 30px rgba(76, 69, 99, 0.08);
    border-radius: 5px;
    font-size: 32px;
    color: var(--color-purple-heading);
    font-weight: 400;
    padding: 40px;
}

.edit-action-btns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 7%;
}

#editing-type {
    padding-bottom: 20px !important;
}

.subfields {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

#subfield-btn {
    height: 32px !important;
    margin-left: 10px !important;
}

.subfield-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.select-item {
    margin-top: 0px !important;
}
    
    
.btn-dialog {
    height: 50px !important;
    width: 115px !important;
    border-radius: 5px !important;
    font-size: 16px !important;
    padding: 15px 25px !important;
    gap: 10px !important;
    display: flex !important;
    align-self: end !important;
    bottom: 0;
}

.close-icon {
    position: absolute;
    top: 4%;
    right: 2%;
    cursor: pointer;
}

.btn-with-heading {
    display: flex;
    flex-direction: row;
}

#add-field-btn {
    width: 89px;
    height: 32px;
    padding: 0px 12px;
    margin-left: 10px;
}

#pen {
    padding: 17px 0px 10px;
    width: 35px;
}

#cog {
    padding-left: 5px !important;
}

.header-input-row {
    display: flex;
    align-items: center;
    gap: 20px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}