@import '../globals/variables.css';
@import '../globals/typography.css';

.btn-delete {
  background-color: transparent;
  padding-top: 10px;
}

.btn-primary {
  background-image: var(--linear-gradient-purple) !important;
  border: none !important;
  border-radius: 5px;
}
